body
{
    background-image: url('homepage_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1
{
    color:white;
    font-family: 'Didot';
    font-size: 60px;
    font-weight: bold;
    position:absolute;
    top:28%;
    left:50%;
}
h2
{
    color:white;
    font-family: 'Didot';
    font-size: 40px;
    font-weight: bold;
    position:absolute;
    text-align: center;
    top:40%;
    left:40%;
}
#ForestButton
{
    background-color: transparent;
    color:white;
    font-family: 'Didot';
    font-size: 30px;
    border-color: white;
    border-radius: 10px;
    position:absolute;
    top:54%;
    left:47%;
    padding:10px;
}
#ForestButton:hover
{
    background-color: seagreen;
    transition: 0.5s;
}
#FireButton
{
    background-color: transparent;
    color:white;
    font-family: 'Didot';
    font-size: 30px;
    border-color: white;
    border-radius:10px;
    position:absolute;
    top:54%;
    left:57%;
    padding:10px;
}
#FireButton:hover
{
    background-color: lightsalmon;
    transition: 0.5s;
}
#CityButton
{
    background-color: transparent;
    color:white;
    font-family: 'Didot';
    font-size: 30px;
    border-color: white;
    border-radius:10px;
    position:absolute;
    top:54%;
    left:70.5%;
    padding: 10px;
}
#CityButton:hover
{
    background-color: burlywood;
    transition: 0.5s;
}